@font-face {
    font-family: 'Aspekta';
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/Aspekta-500.woff2') format('woff2');
}

@font-face {
    font-family: 'Aspekta';
    font-weight: 650;
    font-style: normal;
    font-display: fallback;
    src: url('../../fonts/Aspekta-650.woff2') format('woff2');
}